html, 
body {
    height: 100%;
    padding: 0;
    margin: 0;
}


.stock-icon {
    height: 1.5rem;
    width: 1.5rem;
    image-rendering: pixelated;
}

#characters {
    padding-top: 3rem;
    overflow-x: scroll;
    display: flex;
    height: calc(100% - 3rem);
}